* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin-top: 0 !important;
  background-color: white;
}


/*******HEADER********/
.header-wrapper {
  text-align: center;
  background-image: url("https://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/shutterstock_64199689--tojpeg_1408098461475_x2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 4px black !important;
}

.header-wrapper h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: 'Monoton', cursive;
  word-spacing: 10px;
}

/*******FORM********/
.button-custom {
  width: 60px;
  height: 35px;
  background-color: #44ACB7;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1em;
  border: 1px solid #162A33;
  border-radius: 4px;
  letter-spacing: 1.3px;
  margin-left: 20px;
  margin: auto;
}

.form-input {
  margin-bottom: 20px;
}

.form-input-checkbox {
  color: white !important;
}
