* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin-top: 0 !important;
  background-color: white;
  position: relative;
  font-family: 'open-sans';
}

.app-wrapper {
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
  position: relative;
}


/*******HEADER********/
.header-wrapper {
  text-align: center;
  background-image: url("https://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/shutterstock_64199689--tojpeg_1408098461475_x2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 4px black !important;
}

.header-wrapper h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: 'Monoton', cursive;
  word-spacing: 10px;
}



/*******POSTS********/
.item-posts {
  background-color: #DCDEE4;
  border-radius: 4px;
  padding: .5px 10px 40px 10px;
  margin: 20px 0px;
}

.remove {
  float: right;
}

.edit-input {
  margin: 8px 0 5px 0;
}

.edit-button {
  margin: 5px 0;
  float: right;
}


/*******FORM********/
.button-custom {
  width: 60px;
  height: 30px;
  font-family: 'open-sans';
  background-color: #162A33;;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1em;
  border: 1px solid #162A33;
  border-radius: 4px;
  letter-spacing: 1.3px;
  margin-left: 20px;
  margin: auto;
}

.form-input {
  margin-bottom: 20px;
}

.form-input-checkbox {
  color: white !important;
}



/*******FOOTER********/
.footer {
  width: 100%;
  position: relative;
  bottom: 0 !important;
  height: 10vh;
  /*background-color: black;*/
  text-align: center;
  margin: auto;
}

.footer h3 a {
  font-family: 'open-sans';
  word-spacing: 10px;
  color: #162A33;
  text-shadow: 1px 1px 1px WHITE;
  line-height: 10vh;
}
