* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 1;
  background: transparent;
  border: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  /*padding-top: 6px;*/
}

.navbar a {
  color: white !important;
  text-shadow: 1px .5px .5px rgba(150, 150, 150, 0.5);
  padding-top: 12px;
  font-size: 1em;
}

.navbar a:hover {
  color: #D4D2CF !important;
}

.navbar-header a {
  font-size: 1.3em;
  padding-top: 15px;
}

.navbar-right {
  text-transform: uppercase;
}

.header {
  color: white !important;
  /*text-shadow: 1px .5px .5px rgba(150, 150, 150, 0.5);*/
  margin: auto;
  text-align: center;
  /*position: absolute;*/
  /*top: 0;*/
  width: 100%;
  padding: 65px 0;
  /*padding-top: 345px;*/
}

.transparency {
  /*position: absolute;*/
  /*top: 0;*/
  width: 100%;
  margin: 0 !important;
  /*z-index: 3;*/
  background-color: rgba(0, 0, 0, 0.4);
  /*padding: 102px 0;*/
}

.background {
  background-image: url(https://cdn.marilynmckenna.com/wp-content/uploads/2015/05/blue-apron.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 75px;
  font-size: 5.7em;
}

.style-bar {
  height: 4px;
  width: 100px;
  background-color: white;
  margin: 20px auto;
  text-align: center;
}


.header h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

.article {
  margin-top: 30px;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
}

.article:hover {
  color: #0085A1;
}

.article h2 {
  font-size: 2.6em  !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.article h3 {
  margin: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.article h4 {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #7B7B77;
  padding-bottom: 30px;
  border-bottom: .6px solid #EEEEEE;
}

.button {
  float: right;
  height: 50px;
  width: 185px;
  border: 1px solid #EEEEEE;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1.2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: #0085A1;
}

.footer {
  height: 200px;
  line-height: 50px;
  width: 100%;
  margin: auto;
  text-align: center;
  border-top: 1px solid #EEEEEE;
  color: #7B7B77;
  font-family: 'Lora', serif;
  font-size: .9em;
}

.social-icons {
  margin-top: 75px;
  margin-bottom: 15px;
  font-size: 2.3em;
  color: #333333;
  padding: 0 35px;
}

.social-icons:hover {
  color: #0085A1;
}
