* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: #FFFFFF;
}


/********APP********/
.main-wrapper {
  min-height: 99vh !important;
  margin-bottom: -10vh;
}

/********HEADER********/
.header {
  text-align: center;
  background-color: #2F2E33;
  color: #EFEFEF;
}

/********FORM********/
.input {
  margin-top: 15px;
}

.button-custom {
  margin-top: 30px;
  text-align: center;
  background-color: #23527c;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1em;
  letter-spacing: 1.3px;
}

/********NAME********/
.output {
  text-align: center;
  margin-top: 50px;
}


/********FOOTER********/
.footer {
  width: 100%;
  height: 10vh;
  text-align: center;
  text-align: center;
  background-color: #2F2E33;
  color: #EFEFEF;
}

.footer h3 a {
line-height: 10vh;
color: #EFEFEF;
}

.footer h3 {
  margin: 0 !important;
}

/*.push, .footer {
  height: 10vh;
}*/
