* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #262626;
}

.navbar  {
  background-color: #1c1c1c;
  border: 0;
  border-radius: 0;
}

.navbar a {
  color: #EBEBEB !important;
}

p {
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #1c1c1c;
  color: #EBEBEB;
  margin: auto;
  text-align: center;
}
