* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    height: 50px;
    width: 25%;
    display: inline-block;
    float: left;
    border: 5px solid white;
    background-color: green;
}

@media (max-width: 750px) {
    .box {
        background-color: blue;
    }
}