* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    margin: 25px 65px;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 85px;
    padding-bottom: 30px;
}

p {
    color: #eeeeee;
    font-size: 20px;
    line-height: 26px;
    padding: 20px 0px;
    text-align: justify;
}

.credits {
    text-decoration: underline;
    color: #49DAFF;
    
}

.credits: hover {
    cursor: hand;
}

#film-description {
    font-size: 17px;
    font-style: italic;
}

