.parent {
    border: 3px dotted black;
    height: 500px;
    width: 250px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child {
    height: 45px;
    width: 75px;
    background-color: maroon;
    border: 5px solid azure;
}
#single {
    align-self: flex-start;
}