table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: pink;
}