* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10% 10%;
  background-image: url("https://i.ytimg.com/vi/LAbBqpXdOeE/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Passion One', cursive;
  letter-spacing: 3px
}

.chuck-wrapper {
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 40px;
  border-radius: 5px;
}

h1 {
  margin-bottom: 40px;
  font-size: 5em;
}

.button {
  margin-bottom: 40px;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  font-size: .9em;
  background-color: red;
  color: white;
  text-shadow: 1px 1px 1px black;
}

h3 {
  font-size: 3em;
}
