* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;
}

.site-circle {
  width: 33vmin;
  height: 33vmin;
  margin: 150px auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
}

.header {
  width: 100%;
  background-image: url("/images/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20vh;
  position: absolute;
  top: 0;
}

h1 {
  color: white;
  text-shadow: 1px 1px .5 black;
  margin-top: 70px;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px .5px black;
}


.drop {
  margin-top: 15vh;
}

@media (max-width: 991px) {
  .site-circle {
    margin: 55px auto;
    }
}

@media (max-width: 1171px) {
  .site-circle {
    height: 28vmin;
    width: 28vmin;
  }

}
